torchvision
cached-path
smart_open
pypdf
pypdfium2
lingua-language-detector
Pillow
ruff
mypy>=1.0,<1.5
black>=23.0,<26.0
isort>=5.12,<5.13
pytest
pytest-sphinx
pytest-cov
twine>=1.11.0
build
setuptools
wheel
Sphinx>=4.3.0,<7.1.0
furo==2023.7.26
myst-parser>=1.0,<2.1
sphinx-copybutton==0.5.2
sphinx-autobuild==2021.3.14
sphinx-autodoc-typehints==1.23.3
packaging
necessary
accelerate>=0.34.2
datasets==3.0.0
peft
wandb
omegaconf
s3fs
transformers>=4.45.1
bitsandbytes
ftfy
